.Container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #62DDFD;
}

h2 {
  color: #A393F1;
}

h3 {
  margin-bottom: 36px;
  color: #50FA7B;
}